{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "airbnb-base",
    "airbnb-typescript/base",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "emcaVersion": "latest",
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "import",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."]
      }
    }
  },
  "rules": {
    "react/react-in-jsx-scope": ["off"],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    "react/prop-types": "off",
    "import/no-cycle": "off"
  }
}
