* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gradient-main: linear-gradient(
    320deg,
    hsl(199deg 76% 52%) 0%,
    hsl(211deg 68% 52%) 9%,
    hsl(223deg 58% 51%) 18%,
    hsl(234deg 49% 51%) 27%,
    hsl(247deg 48% 52%) 36%,
    hsl(259deg 59% 56%) 45%,
    hsl(271deg 71% 59%) 55%,
    hsl(283deg 83% 63%) 64%,
    hsl(292deg 84% 68%) 73%,
    hsl(298deg 80% 74%) 82%,
    hsl(305deg 78% 81%) 91%,
    hsl(311deg 73% 87%) 100%
  );

  --gradient-text: -webkit-linear-gradient(
    320deg,
    hsl(290deg 85% 18%) 1%,
    hsl(290deg 79% 21%) 7%,
    hsl(290deg 74% 25%) 10%,
    hsl(290deg 71% 29%) 22%,
    hsl(290deg 66% 33%) 30%,
    hsl(290deg 59% 37%) 38%,
    hsl(290deg 54% 41%) 47%,
    hsl(290deg 49% 45%) 56%,
    hsl(290deg 47% 47%) 65%,
    hsl(290deg 45% 48%) 75%,
    hsl(290deg 43% 50%) 87%,
    hsl(290deg 43% 51%) 100%
  );
}

html,
body {
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
  z-index: 2;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}
